 .box {

 	width: 1290px;
 	margin: 0 auto;
  
 }

 .zedatexti {

 	 font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
 }
.home-box {
    background-color: #22B573;
 	margin: 0 auto;
 	width: 1290px;
 	height: 680px;
 	display: inline-block;
 
}

 .logo2 img {
      width: 100px;
      display: inline-block;
      vertical-align: top;
      margin-top:50px;
      width: 150px;
      margin-left: 200px;
  }

.navigaton-li {
 
   	 display: inline-block;
  	 vertical-align: top;

     }

.d-block {

	display: inline-block;
}

.navigation {
	display: inline-block;
   
	 
 
}
 
 .navigaton-ul {
 
 	display: inline-block;
  	 vertical-align: top;
  	 text-align: center;
  	 margin-top: 50px;
  	font-size: 35px;
    margin-left: 360px;
               }

.colorfont {
	color: #F9F9F9;

 }


  .box-3 {

     width: 617px;
     height: 300px;
     background-color: #FCEE21;
     padding: 23px;
     margin-top: 65px;
     margin-left:72px;
     margin-bottom: 120px; 
          vertical-align: top;

  }
 
 .box-4 {
       width: 523px;
       height: 300px;
     background-color: #FCEE21;
     padding: 23px;
     margin-top: 65px;
     margin-left: 18px;
     vertical-align: top;

 }

 .text3 {
        width: 400px; 
     
 }

 .text4 {
      width: 300px;
         margin-left: 10px;

         }

 .image3 {
     height: 120px;
 	vertical-align: top;
    
    

 }


.image4 {
       height: 120px;
 	vertical-align: top;
      margin-top: 24px;
 }

 .text5 {
 	  margin-top: 20px;
 }

 .text6 {
 	margin-top: 10px;



 }